@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <h1 style="display = flex; justify-content:center;  text-align = center; color = blue;">Nguyen Duy Hung - DHTI15A1CL - 21103101144</h1>
</main>