@{
    ViewBag.Title = "Giới thiệu";
}
<main aria-labelledby="title">
    <section id="about" class="section mt-3">
        <div class="container mt-5">
            <div class="row text-center text-md-left">
                <div class="pl-md-4 col-md-12">
                    <h6 class="title">Nguyễn Duy Hùng</h6>
                    <p class="subtitle">Lập trình viên Website</p>
                    <p>Tôi sinh ngày 07/09/2003. Quê quán ở Tam Hiệp Phúc Thọ Hà Nội</p>
                    <p>Tôi có sở thích là xem phim, chơi game, code, du lịch.</p>
                </div>
            </div>
        </div>
    </section>
</main>
