@{
    ViewBag.Title = "Trang chủ";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">ASP.NET</h1>
        <p class="lead">ASP.NET là một framework web miễn phí để xây dựng các trang web và ứng dụng web tuyệt vời sử dụng HTML, CSS và JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Tìm hiểu thêm &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Bắt đầu</h2>
            <p>
                ASP.NET MVC cung cấp cho bạn một cách tiếp cận mạnh mẽ, dựa trên mô hình mẫu để xây dựng các trang web động, cho phép phân tách rõ ràng các mối quan tâm và cung cấp cho bạn quyền kiểm soát đầy đủ đối với mã đánh dấu, hỗ trợ phát triển linh hoạt và thú vị.
            </p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Tìm hiểu thêm &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Thêm thư viện</h2>
            <p>NuGet là một tiện ích mở rộng miễn phí của Visual Studio giúp dễ dàng thêm, xóa và cập nhật các thư viện và công cụ trong các dự án Visual Studio.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Tìm hiểu thêm &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Lưu trữ web</h2>
            <p>Bạn có thể dễ dàng tìm thấy một công ty lưu trữ web cung cấp các tính năng và mức giá phù hợp cho ứng dụng của bạn.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Tìm hiểu thêm &raquo;</a></p>
        </section>
    </div>
</main>
