@{
    ViewBag.Title = "Trang chủ";
}

<main>
    <header class="header" id="home">
        <div class="container">
            <div class="infos">
                <h6 class="subtitle">Xin Chào, Tôi là</h6>
                <h6 class="title">Nguyễn Duy Hùng</h6>
                <p>Lớp: DHTI15A1CL</p>
                <div class="buttons pt-3">
                    <button class="btn btn-primary rounded">MSV: 21103101144</button>    
                </div>      
            </div>
            <div class="img-holder">
                <img src="~/Content/img/anhchup-removebg-preview.png" alt="">
            </div>
        </div>

     
    </header>
</main>
